GifBlocking.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GifBlocking.xcodeproj/project.xcworkspace/xcuserdata/al.xcuserdatad/UserInterfaceState.xcuserstate
GifBlocking.xcodeproj/xcuserdata/al.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
GifBlocking.xcodeproj/xcuserdata/al.xcuserdatad/xcschemes/GifBlocking.xcscheme
GifBlocking.xcodeproj/xcuserdata/al.xcuserdatad/xcschemes/xcschememanagement.plist
